.rectangle-header {
  height: calc(100% - 50px);
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 50px;
  left: 0;
  background-color: var(--color-blueviolet-200);
}
.bihouse-door-icon7 {
  height: 39.1px;
  width: 39.1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.bihouse-door-wrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
}
.eventup4 {
  position: relative;
  line-height: 139.52%;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.frame-parent29 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.home47 {
  margin-top: -4.7px;
  text-decoration: none;
  height: 15px;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 60px;
}
.home46 {
  height: 15px;
  flex-direction: row;
  padding: 0 0 var(--padding-8xs-7);
  box-sizing: border-box;
}
.bottom-home,
.home-wrapper1,
.home46 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-wrapper1 {
  flex-direction: row;
  z-index: 1;
}
.bottom-home {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.home49 {
  margin-top: -4.7px;
  text-decoration: none;
  height: 15px;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 72px;
}
.home48 {
  height: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xs-7);
  box-sizing: border-box;
  z-index: 1;
}
.home51 {
  margin-top: -4.7px;
  text-decoration: none;
  height: 15px;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 108px;
}
.home-elements1,
.home50 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home50 {
  height: 15px;
  flex-direction: row;
  padding: 0 0 var(--padding-8xs-7);
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
}
.home-elements1 {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  color: var(--color-blueviolet-100);
}
.home53 {
  margin-top: -5.4px;
  text-decoration: none;
  height: 17px;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 83px;
}
.home52 {
  height: 17px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs-4);
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
}
.home55 {
  margin-top: -5.4px;
  text-decoration: none;
  height: 17px;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 122px;
}
.home54 {
  height: 17px;
  flex-direction: row;
  padding: 0 0 var(--padding-7xs-4);
  box-sizing: border-box;
  z-index: 1;
}
.bottom-home-parent,
.frame-parent28,
.home-parent,
.home54 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bottom-home-parent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-11xl);
}
.frame-parent28,
.home-parent {
  max-width: 100%;
}
.home-parent {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xl) 0 0;
  box-sizing: border-box;
  min-width: 367px;
  font-size: var(--font-size-xl);
  font-family: var(--body-small-text-regular);
}
.frame-parent28 {
  width: 736px;
  flex-direction: row;
  gap: var(--gap-83xl);
}
.person-fill-icon4,
.search-icon4 {
  height: 30px;
  width: 30px;
  position: relative;
  min-height: 30px;
  z-index: 1;
}
.search-icon4 {
  object-fit: cover;
}
.person-fill-icon4 {
  overflow: hidden;
  flex-shrink: 0;
}
.frame-child27,
.frame-child28 {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 24px;
  height: 4px;
}
.frame-child28 {
  top: 16px;
  left: 5.2px;
  width: 18.8px;
}
.line-parent2 {
  width: 20px;
  height: 16px;
  position: relative;
  opacity: 0.75;
  z-index: 1;
}
.frame-wrapper22,
.search-parent3 {
  display: flex;
  align-items: flex-start;
}
.frame-wrapper22 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.search-parent3 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.rectangle-parent16,
.search-parent2 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.search-parent2 {
  width: 144px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-base-5) 0 0;
}
.rectangle-parent16 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-lgi) var(--padding-98xl) var(--padding-10xl-1)
    var(--padding-96xl);
  position: relative;
  min-height: 151px;
  max-width: 100%;
  flex-shrink: 0;
  gap: var(--gap-xl);
}
.best-decoration {
  color: var(--color-blueviolet-100);
}
.discover-the-best-container {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.arrow-01-icon {
  height: 128.2px;
  width: 124.2px;
  position: absolute;
  margin: 0 !important;
  right: 0.3px;
  bottom: -61.2px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 1;
}
.discover-the-best-decoration-f-parent,
.frame-wrapper23 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.discover-the-best-decoration-f-parent {
  width: 491px;
  justify-content: flex-start;
  position: relative;
}
.frame-wrapper23 {
  width: 823px;
  justify-content: center;
  padding: 20px 0 50px 0;
  box-sizing: border-box;
}
.bg7,
.package1 {
  position: relative;
}
.bg7 {
  width: 1210px;
  height: 166px;
  box-shadow: 2px 4px 10px 1px rgba(58, 58, 58, 0.08);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.package1 {
  flex: 1;
  font-size: var(--body-small-text-regular-size);
  font-weight: 600;
  font-family: var(--body-small-text-regular);
  color: var(--color-white);
  text-align: center;
}
.package-name1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base-5) var(--padding-sm);
  background-color: var(--color-blueviolet-100);
  flex: 1;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.package-name1:hover {
  background-color: var(--color-mediumslateblue-100);
}
.item1 {
  position: relative;
  font-size: var(--body-small-text-regular-size);
  font-weight: 600;
  font-family: var(--body-small-text-regular);
  color: var(--text);
  text-align: center;
  display: inline-block;
  min-width: 35px;
}
.item-name1 {
  cursor: pointer;
  border: 1px solid var(--color-gray-300);
  padding: var(--padding-3xs) var(--padding-9xl);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-5xs);
  flex-direction: row;
  z-index: 1;
}
.item-name1:hover {
  background-color: var(--color-darkslategray-500);
  border: 1px solid var(--color-darkslategray-400);
  box-sizing: border-box;
}
.item-name-wrapper,
.item-name1,
.package-name-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.item-name-wrapper {
  width: 93px;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.package-name-parent {
  width: 227px;
  flex-direction: row;
  gap: var(--gap-smi);
}

.location {
  border:none;
  width:95px;
  position:relative;
  right:4px;
}

#location-suggestions {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: white;
  z-index: 1000;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}

#location-suggestions li {
  padding: 10px;
  cursor: pointer;
  color: black;
}

#location-suggestions li:hover {
  background-color: #eee;
}

.location-input {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
}
.location3 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 82px;
  z-index: 1;
}
.map-marker-icon1 {
  width: 16px;
  height: 16.6px;
  position: relative;
  border-radius: var(--br-9xs);
  object-fit: cover;
  z-index: 1;
}
.location-calendar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-4) 0 0;
}
.search-location1 {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 111px;
  z-index: 1;
}
.location-date {
  width: 129px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  font-size: var(--body-small-text-regular-size);
  color: var(--color-darkslategray-100);
}
.from2,
.location2 {
  position: relative;
  z-index: 1;
}
.location2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs-9) var(--padding-base) var(--padding-4xs-3);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  min-width: 129px;
}
.from2 {
  font-weight: 500;
  display: inline-block;
  min-width: 47px;
}
.chevron-left-icon2 {
  width: 14px;
  height: 14.5px;
  position: relative;
  border-radius: var(--br-9xs);
  object-fit: contain;
  z-index: 1;
}
.chevron-left-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-1) 0 0;
}
.april5 {
  font-size: var(--font-size-xs);
}
.april4 {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 47px;
  z-index: 1;
  color: var(--color-silver);
  border: none;
}

.frame-parent31,
.property-type1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent31 {
  /* width: 63px; */
  flex-direction: row;
  gap: var(--gap-11xs);
  font-size: var(--body-small-text-regular-size);
  color: var(--color-darkslategray-100);
}
.property-type1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  min-width: 129px;
}
.april6,
.property-type1,
.to2 {
  position: relative;
  z-index: 1;
}
.to2 {
  width: 26px;
  font-weight: 500;
  display: inline-block;
  min-width: 26px;
}
.april6 {
  flex: 1;
}
.frame-parent32,
.price-range-inner1,
.price-range1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent32 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-12xs);
}
.price-range-inner1,
.price-range1 {
  box-sizing: border-box;
}
.price-range-inner1 {
  width: 69px;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  font-size: var(--body-small-text-regular-size);
  color: var(--color-darkslategray-100);
}
.price-range1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-sm);
  position: relative;
  gap: var(--gap-9xs);
  min-width: 129px;
  z-index: 1;
  color: var(--color);
}
.iconlylight-outlinesearch1 {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: cover;
  min-height: 24px;
}
.search1 {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 600;
  font-family: var(--body-small-text-regular);
  color: var(--color-white);
  text-align: center;
}
.iconlylight-outlinesearch-group,
.search-input {
  width: 71px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
  box-sizing: border-box;
  
}
.iconlylight-outlinesearch-group {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid) var(--padding-lg);
  background-color: var(--color-blueviolet-100);
  width: 140px;
  border-radius: var(--br-xs);
  flex-direction: row;
  z-index: 1;
}
.iconlylight-outlinesearch-group:hover {
  background-color: var(--color-mediumslateblue-100);
}
.bg-parent8,
.location-group {
  align-self: stretch;
  justify-content: flex-start;
}
.location-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--gap-25xl);
}
.bg-parent8 {
  box-shadow: 2px 4px 10px 1px rgba(58, 58, 58, 0.08);
  background-color: var(--color-white);
  flex-direction: column;
  padding: var(--padding-3xl) var(--padding-151xl) var(--padding-6xl)
    var(--padding-152xl);
  box-sizing: border-box;
  gap: var(--gap-smi);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--text);
  font-family: var(--body-small-text-regular);
  z-index: 1;
}
.bg-parent8,
.decoration-1-inner,
.frame-parent30 {
  /* display: flex; */
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent30 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-56xl);
}
.decoration-1-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 30px 10% var(--padding-30xl);
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.our-pacakage1,
.select-our-package1 {
  position: relative;
  font-weight: 600;
}
.select-our-package1 {
  margin: 0;
  font-size: inherit;
  letter-spacing: 0.01em;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.carousel-item-child {
  height: 175px;
  width: 280px;
  position: relative;
  border-radius: var(--br-5xs);
  object-fit: cover;
  display: none;
}
.o00-1 {
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  min-width: 64px;
}
.carousel-image,
.carousel-item {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.carousel-image {
  background-color: var(--color-blueviolet-100);
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  z-index: 1;
}
/* .carousel-item {
  align-self: stretch;
  justify-content: flex-end;
  padding: var(--padding-121xl) 0 0;
  background-image: url(./public/rectangle-218@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
} */

.carousel-item {
  align-self: stretch;
  justify-content: flex-end;
  padding: var(--padding-121xl) 0 0;
  background-image: url("../img/rectangle-218@2x.png"); /* Adjust the path relative to the CSS file location */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.frame-child29 {
  width: 280px;
  height: 140px;
  position: relative;
  box-shadow: 2px 4px 10px 1px rgba(58, 58, 58, 0.08);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: none;
}
.birthday-party- {
  font-weight: bold;
}
.birthday-party-,
.seats-as-beautiful2 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  z-index: 1;
}
.see-more {
  position: relative;
  display: inline-block;
  min-width: 73px;
}
.vector-icon6 {
  width: 6px;
  height: 10px;
  position: relative;
}
.see-more-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-5) 0 0;
}
.carousel-button,
.see-more-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.see-more-button {
  justify-content: flex-start;
  gap: var(--gap-10xs);
  cursor: pointer;
  z-index: 2;
}
.carousel-button {
  align-self: stretch;
  justify-content: flex-end;
  margin-top: -19px;
  text-align: right;
  color: var(--color-blueviolet-100);
}
.birthday-party-p1-parent,
.seats-as-beautiful-as-they-are-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.seats-as-beautiful-as-they-are-parent {
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
}
.birthday-party-p1-parent {
  gap: var(--gap-9xs);
}
.select9 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.01em;
  font-weight: 600;
  font-family: var(--body-small-text-regular);
  color: var(--color-blueviolet-100);
  text-align: left;
  display: inline-block;
  min-width: 50px;
}

.carousel-item-link {
  display: block;
  color: inherit; /* Ensures text color remains the same */
  text-decoration: none; /* Removes underline from links */
}

.carousel-item-link:hover {
  cursor: pointer;
}

.carousel-item-parent,
.rectangle-parent17 {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: flex-start;
}
.rectangle-parent17 {
  align-self: stretch;
  box-shadow: 2px 4px 10px 1px rgba(58, 58, 58, 0.08);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  padding: var(--padding-8xs) var(--padding-3xs) var(--padding-smi)
    var(--padding-2xs);
  gap: var(--gap-base);
  font-size: var(--font-size-xl);
  color: var(--text);
}
.carousel-item-parent {
  width: 280px;
}
.rectangle-parent18 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-121xl) 0 0;
  background-image: url(./public/rectangle-219@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.see-more1 {
  position: relative;
  display: inline-block;
  min-width: 73px;
  z-index: 2;
}
.vector-icon7 {
  width: 6px;
  height: 10px;
  position: relative;
  z-index: 1;
}
.see-more-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.rectangle-parent20,
.rectangle-parent22,
.rectangle-parent24,
.rectangle-parent26,
.rectangle-parent28,
.rectangle-parent30 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-121xl) 0 0;
  background-image: url(./public/rectangle-2110@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rectangle-parent22,
.rectangle-parent24,
.rectangle-parent26,
.rectangle-parent28,
.rectangle-parent30 {
  background-image: url(./public/rectangle-2111@2x.png);
}
.rectangle-parent24,
.rectangle-parent26,
.rectangle-parent28,
.rectangle-parent30 {
  background-image: url(./public/rectangle-2112@2x.png);
}
.rectangle-parent26,
.rectangle-parent28,
.rectangle-parent30 {
  background-image: url(./public/rectangle-2113@2x.png);
}
.rectangle-parent28,
.rectangle-parent30 {
  background-image: url(./public/rectangle-2114@2x.png);
}
.rectangle-parent30 {
  background-image: url(./public/rectangle-2115@2x.png);
}

.no-results-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
.no-results-message h1 {
  font-size: 2em; /* Adjust font size as needed */
  color: #333; /* Adjust color as needed */
  font-family: var(--body-small-text-regular);
  /* color: var(--text); */
}

.package-carousel,
.select-package {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.package-carousel {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px 29.3px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.select-package {
  flex-direction: column;
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--text);
}

/* ------------------------------------------------ */
.book-now {
  align-self: stretch;
  width: 100%;

}
.book-now-button {
  border: 0;
  padding: var(--padding-lg) var(--padding-xl) var(--padding-lgi);
  background-color: var(--color-blueviolet-100);
  border-radius: var(--br-xs);
  box-sizing: border-box;
  color: white;
  font-weight:600;
  width: 300px;
  font-family: var(--body-small-text-regular);
  font-size: var(--font-size-lg);
}
/* ------------------------------------------------ */

.our-pacakage-parent,
.our-package {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.our-pacakage-parent {
  width: 1210px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.our-package {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-30xl);
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-blueviolet-100);
  font-family: var(--body-small-text-regular);
}
.our-item2,
.select-your-items1 {
  position: relative;
  font-weight: 600;
}
.our-item2 {
  display: inline-block;
  min-width: 88px;
}
.select-your-items1 {
  margin: 0;
  font-size: var(--font-size-21xl);
  letter-spacing: 0.01em;
  font-family: inherit;
  color: var(--text);
  text-align: left;
}
.our-item-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xs);
  max-width: 100%;
}
.all {
  position: relative;
  font-size: var(--body-small-text-regular-size);
  font-weight: 600;
  font-family: var(--body-small-text-regular);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 27px;
}
.all-filter {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs-5) var(--padding-7xl);
  background-color: var(--color-blueviolet-100);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.chair1,
.sofa1 {
  position: relative;
  font-weight: 500;
}
.chair1 {
  width: 47px;
  display: inline-block;
  flex-shrink: 0;
}
.sofa1 {
  flex: 1;
}
.item-filter,
.our-item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.item-filter {
  width: 256px;
  border-radius: var(--br-5xs);
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-xs);
  font-size: var(--body-small-text-regular-size);
  color: var(--text);
}
.our-item-header {
  align-self: stretch;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.item-image-placeholder {
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  min-width: 36px;
}
.carousel-item-image,
.rectangle-parent32 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.carousel-item-image {
  background-color: var(--color-blueviolet-100);
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-mini);
  z-index: 1;
}
.rectangle-parent32 {
  align-self: stretch;
  justify-content: flex-end;
  padding: var(--padding-121xl) 0 0;
  /* background-image: url(./public/rectangle-2116@2x.png); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.carousel-item-details-child {
  width: 280px;
  height: 124px;
  position: relative;
  box-shadow: 2px 4px 10px 1px rgba(58, 58, 58, 0.08);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: none;
}
.modern-chair3 {
  position: relative;
  letter-spacing: 0.19px;
  font-weight: bold;
  z-index: 1;
}
.available-5-pices3 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 15.2px;
  display: inline-block;
  min-width: 97px;
}
.carousel-item-availability,
.modern-chair-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.carousel-item-availability {
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-gray-200);
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-6xs) var(--padding-11xs)
    var(--padding-5xs);
  white-space: nowrap;
  z-index: 1;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-300);
}
.modern-chair-group {
  flex-direction: column;
  gap: var(--gap-9xs);
}
.quantity3 {
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  min-width: 70px;
  z-index: 1;
}
.bg-icon3 {
  height: 21px;
  width: 22px;
  position: relative;
  border-radius: var(--br-9xs);
  display: none;
}
.quantity-button {
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  min-width: 11px;
  z-index: 1;
  cursor: pointer;
}
.bg-parent9,
.bg8 {
  border-radius: var(--br-9xs);
}
.bg-parent9 {
  box-shadow: 2px 4px 10px rgba(58, 58, 58, 0.08);
  background-color: var(--color-darkslategray-700);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) var(--padding-11xs) var(--padding-7xs);
  z-index: 1;
  color: var(--color-darkslategray-600);
}
.bg8 {
  height: 21px;
  width: 22px;
  position: relative;
  box-shadow: 2px 4px 10px 1px rgba(58, 58, 58, 0.08);
  background-color: var(--color-white);
  display: none;
}
.quantity-button1 {
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  min-width: 8px;
  z-index: 1;
}
.bg-parent10,
.bg-parent11 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  z-index: 1;
}
.bg-parent10 {
  flex: 1;
  box-shadow: 2px 4px 10px 1px rgba(58, 58, 58, 0.08);
  background-color: var(--color-white);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) var(--padding-7xs);
  font-size: var(--font-size-xs);
}
.bg-parent11 {
  box-shadow: 2px 4px 10px rgba(58, 58, 58, 0.08);
  background-color: var(--color-darkslategray-800);
  padding: 0 var(--padding-8xs) var(--padding-11xs) var(--padding-7xs);
}
.bg-parent11,
.carousel-item-quantity,
.frame-parent43,
.quantity-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent43 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-11xs);
  color: var(--text);
}
.carousel-item-quantity,
.quantity-parent1 {
  flex-direction: column;
}
.quantity-parent1 {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.carousel-item-quantity {
  width: 70px;
  padding: var(--padding-11xs-5) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.item-selection {
  cursor: pointer;
  border: 1px solid var(--color-blueviolet-100);
  padding: var(--padding-4xs) var(--padding-xl);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  z-index: 1;
}
.item-selection:hover {
  background-color: var(--color-mediumslateblue-200);
  border: 1px solid var(--color-mediumslateblue-100);
  box-sizing: border-box;
}
.carousel-item-details,
.rectangle-parent33 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  align-items: flex-start;
}
.carousel-item-details {
  box-shadow: 2px 4px 10px 1px rgba(58, 58, 58, 0.08);
  background-color: var(--color-white);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-3xs) var(--padding-xs)
    var(--padding-2xs);
  gap: var(--gap-base);
  font-size: var(--font-size-xl);
  color: var(--text);
}
.rectangle-parent33 {
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-121xl) 0 0;
  background-image: url(./public/rectangle-2117@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.b6 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.01em;
  display: inline-block;
  font-family: var(--body-small-text-regular);
  color: var(--color-white);
  text-align: left;
  min-width: 36px;
}
.rectangle-parent35,
.wrapper3 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.wrapper3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-mini);
  background-color: var(--color-blueviolet-100);
  overflow: hidden;
  justify-content: flex-start;
  z-index: 1;
}
.wrapper3:hover {
  background-color: var(--color-mediumslateblue-100);
}
.rectangle-parent35 {
  align-self: stretch;
  justify-content: flex-end;
  padding: var(--padding-121xl) 0 0;
  background-image: url(./public/rectangle-2118@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame-parent47,
.rectangle-parent36 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent36 {
  align-self: stretch;
  box-shadow: 2px 4px 10px 1px rgba(58, 58, 58, 0.08);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  padding: var(--padding-8xs) var(--padding-3xs) var(--padding-xs)
    var(--padding-2xs);
  gap: var(--gap-base);
}
.frame-parent47 {
  font-size: var(--font-size-xl);
  color: var(--text);
}
.rectangle-parent37 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-121xl) 0 0;
  background-image: url(./public/rectangle-2119@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame-parent40,
.item-carousel,
.our-item-content {
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent40 {
  flex: 1;
  display: grid;
  flex-direction: row;
  gap: var(--gap-11xl);
  grid-template-columns: repeat(4, minmax(210px, 1fr));
}
.item-carousel,
.our-item-content {
  align-self: stretch;
  display: flex;
}
.item-carousel {
  flex-direction: row;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.our-item-content {
  flex-direction: column;
  gap: var(--gap-13xl);
}
.book-now4 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 600;
  font-family: var(--body-small-text-regular);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 90px;
}

.our-item-content-parent,
.our-item1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.our-item-content-parent {
  width: 1210px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.our-item1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-blueviolet-100);
  font-family: var(--body-small-text-regular);
}
.footer-child1 {
  height: 364.4px;
  width: 1440px;
  position: relative;
  background-color: var(--text);
  display: none;
  max-width: 100%;
}
.brand-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs);
}
.homely3 {
  position: absolute;
  margin: 0 !important;
  top: -12.2px;
  left: 0;
  line-height: 139.52%;
  display: inline-block;
  min-width: 61px;
  z-index: 1;
}
.lorem-ipsum-dolor3 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: var(--body-small-text-regular-size);
  line-height: 155%;
  font-family: var(--body-small-text-regular);
  color: var(--color-snow);
  z-index: 2;
}
.company-description {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.facebook-icon3,
.instagram-circle-icon3 {
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.facebook-icon3 {
  height: 27.5px;
  width: 32px;
  min-height: 28px;
}
.instagram-circle-icon3 {
  height: 24.9px;
  width: 29px;
}
.social-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs-7);
}
.company-info2 {
  align-self: stretch;
  gap: var(--gap-5xs-9);
  flex-shrink: 0;
}
.company-info2,
.footer-brand,
.support-links3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-brand {
  align-self: stretch;
  gap: var(--gap-smi-2);
}
.support-links3 {
  width: 295px;
  padding: var(--padding-6xs-9) 0 0;
  box-sizing: border-box;
  min-width: 295px;
}
.company3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.01em;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 111px;
  z-index: 1;
}
.home56 {
  min-width: 51px;
}
.about-us6,
.blog6,
.contact-us6,
.home56 {
  position: relative;
  line-height: 30px;
  display: inline-block;
  z-index: 1;
}
.about-us6 {
  text-decoration: none;
  color: inherit;
  min-width: 79px;
}
.blog6,
.contact-us6 {
  min-width: 38px;
}
.contact-us6 {
  min-width: 96px;
}
.company-link-list {
  gap: var(--gap-5xs);
  font-size: var(--font-size-lg);
}
.company-link-list,
.company-links-content,
.links-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.company-links-content {
  gap: var(--gap-2xl);
}
.links-column {
  padding: var(--padding-10xs-6) 0 0;
}
.offers3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.01em;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 74px;
  z-index: 1;
}
.offers-links1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl) 0 0;
  gap: var(--gap-2xl);
}
.faqs3,
.support3 {
  display: inline-block;
}
.support3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 30px;
  font-weight: 500;
  font-family: inherit;
  min-width: 93px;
  z-index: 1;
}
.faqs3 {
  min-width: 49px;
}
.faqs3,
.security3,
.support-center3 {
  position: relative;
  line-height: 30px;
  z-index: 1;
}
.security3 {
  display: inline-block;
  min-width: 71px;
}
.support-link-list,
.support-links-content {
  flex-direction: column;
  justify-content: flex-start;
}
.support-link-list {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-lg);
  color: var(--color-snow);
}
.support-links-content {
  gap: var(--gap-base);
}
.company-links3,
.footer-links,
.support-links-content {
  display: flex;
  align-items: flex-start;
}
.company-links3 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-10xs-6) 0 0;
  color: var(--color-white);
}
.footer-links {
  width: 759px;
  flex-direction: row;
  justify-content: space-between;
  min-width: 759px;
  max-width: 100%;
  gap: var(--gap-xl);
  font-size: var(--font-size-5xl);
  color: var(--color-snow);
  font-family: var(--body-small-text-regular);
}
.decoration-1,
.footer3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-wellfleet);
}
.footer3 {
  align-self: stretch;
  background-color: var(--text);
  flex-direction: row;
  padding: var(--padding-67xl-8) var(--padding-96xl) var(--padding-62xl);
  gap: var(--gap-92xl);
  max-width: 100%;
  flex-shrink: 0;
  color: var(--text);
}
.decoration-1 {
  width: 100%;
  /* height: 2509px; */
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 100px;
  gap: var(--gap-32xl);
  line-height: normal;
  letter-spacing: normal;
  color: var(--color-black);
}
@media screen and (max-width: 1325px) {
  .rectangle-parent16 {
    flex-wrap: wrap;
  }
  .bg-parent8 {
    padding-left: var(--padding-66xl);
    padding-right: var(--padding-66xl);
    box-sizing: border-box;
  }
  .footer-links,
  .support-links3 {
    flex: 1;
  }
  .footer3 {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: var(--padding-38xl);
    padding-right: var(--padding-38xl);
    box-sizing: border-box;
  }
  .decoration-1 {
    height: auto;
  }
}
@media screen and (max-width: 1125px) {
  .our-package {
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
  .frame-parent40 {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(210px, 364px));
  }
  .footer-links {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .bottom-home-parent {
    flex-wrap: wrap;
  }
  .home-parent {
    min-width: 100%;
  }
  .frame-parent28 {
    flex-wrap: wrap;
    gap: var(--gap-32xl);
  }
  .rectangle-parent16 {
    padding-left: var(--padding-38xl);
    padding-right: var(--padding-39xl);
    box-sizing: border-box;
  }
  .discover-the-best-container {
    font-size: var(--font-size-10xl);
  }
  .bg-parent8 {
    padding-left: var(--padding-23xl);
    padding-right: var(--padding-23xl);
    box-sizing: border-box;
  }
  .frame-parent30 {
    gap: var(--gap-18xl);
  }
  .select-our-package1 {
    font-size: var(--font-size-13xl);
  }
  .select-package {
    gap: var(--gap-base);
  }
  .select-your-items1 {
    font-size: var(--font-size-13xl);
  }
  .our-item-header {
    flex-wrap: wrap;
  }
  .our-item-content,
  .our-item-content-parent {
    gap: var(--gap-base);
  }
  .footer3 {
    gap: var(--gap-36xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .decoration-1 {
    gap: var(--gap-6xl);
  }
}
@media screen and (max-width: 450px) {
  .home47,
  .home49,
  .home51,
  .home53,
  .home55 {
    font-size: var(--font-size-base);
  }
  .frame-parent28 {
    gap: var(--gap-6xl);
  }
  .rectangle-parent16 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .discover-the-best-container {
    font-size: var(--font-size-3xl);
  }
  .location-group {
    gap: var(--gap-3xl);
  }
  .bg-parent8 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent30 {
    gap: var(--gap-lgi);
  }
  .decoration-1-inner {
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
  .select-our-package1 {
    font-size: var(--font-size-5xl);
  }
  .birthday-party- {
    font-size: var(--font-size-base);
  }
  .our-package {
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .select-your-items1 {
    font-size: var(--font-size-5xl);
  }
  .modern-chair3 {
    font-size: var(--font-size-base);
  }
  .frame-parent40 {
    grid-template-columns: minmax(210px, 1fr);
  }
  .company3,
  .offers3,
  .support3 {
    font-size: var(--font-size-lgi);
  }
  .support3 {
    line-height: 24px;
  }
  .footer-links {
    flex-wrap: wrap;
  }
  .footer3 {
    gap: var(--gap-9xl);
    padding-top: var(--padding-37xl);
    padding-bottom: var(--padding-34xl);
    box-sizing: border-box;
  }
}
/* ------------------ */
