{% load static %}
<section class="footer3" data-scroll-to="about">
    <footer class="footer-child1"></footer>
    <div class="support-links3">
      <div class="footer-brand">
        <div class="brand-info">
          <img
            class="bihouse-door-icon7"
            alt="EventUp"

            src="{% static 'img/bihousedoor-1.svg' %}"
          />
        </div>
        <div class="company-info2">
          <div class="company-description">
            <div class="homely3">Homely</div>
            <blockquote class="lorem-ipsum-dolor3">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros elementum tristique. Duis
              cursus, mi quis viverra ornare."
            </blockquote>
          </div>
          <div class="social-icons">
            <img
              class="facebook-icon3"
              loading="lazy"
              alt=""
              src="{% static 'img/facebook@2x.png'%}"
            />

            <img
              class="facebook-icon3"
              loading="lazy"
              alt=""
              src="{% static 'img/twitter-circled@2x.png'%}"
            />

            <img
              class="instagram-circle-icon3"
              loading="lazy"
              alt=""
              src="{% static 'img/instagram-circle@2x.png'%}"
            />

            <img
              class="instagram-circle-icon3"
              loading="lazy"
              alt=""
              src="{% static 'img/youtube@2x.png'%}"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="footer-links">
      <div class="links-column">
        <div class="company-links-content">
          <h3 class="company3">Company</h3>
          <div class="company-link-list">
            <div class="home56">Home</div>
            <a class="about-us6">About Us</a>
            <div class="blog6">Blog</div>
            <div class="contact-us6">Contact Us</div>
          </div>
        </div>
      </div>
      <div class="offers-links1">
        <h3 class="offers3">Offers</h3>
        <div class="company-link-list">
          <div class="home56">Home</div>
          <a class="about-us6">About Us</a>
          <div class="blog6">Blog</div>
          <div class="contact-us6">Contact Us</div>
        </div>
      </div>
      <div class="company-links3">
        <div class="support-links-content">
          <h3 class="support3">Support</h3>
          <div class="support-link-list">
            <div class="faqs3">FAQ,s</div>
            <div class="support-center3">Support Center</div>
            <div class="security3">Security</div>
          </div>
        </div>
      </div>
    </div>
  </section>
